<form action="/users/create"method='POST'>
    <input type="text" placeholder="Enter name" name="name" required>
    <input type="text" placeholder="Enter mail" name="email" required>
    <input type="password" placeholder="Enter password" name="password" required>
    <input type="password" placeholder="confirm password" name="confirmpassword" required>
    <button type="submit">sign up</button>
</form>