<form action="/users/create-session"method="POST">
    <input type="text" placeholder="Enter mail" name="email">
    <input type="password" placeholder="Enter password" name="password">
    <button type="submit">login</button>
</form>